<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/layout/admin/layoutAD::dynamic(~{::body})}">
<body>
	<article ng-controller="thongke-ctrl" ng-app="app">
		<div class="alert alert-primary" role="alert">
			<h4 class="card-title">QUẢN LÝ THỐNG KÊ</h4>
			<br>
			<div class="row">
				<div class="col-xl-3 col-sm-6 col-12">
					<div class="card shadow border-0">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<span class="h6 font-semibold text-muted text-sm d-block mb-2">Tổng
										doanh thu</span> <span th:text="${tongDoanhThu}"
										class="h3 font-bold mb-0 text-md"></span>
								</div>
								<div class="col-auto">
									<div
										class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-sm-6 col-12">
					<div class="card shadow border-0">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<span class="h6 font-semibold text-muted text-sm d-block mb-2">Sản
										Phẩm Đã Bán</span> <span th:text="${soSanPhamDaBan}"
										class="h3 font-bold mb-0 text-md"></span>
								</div>
								<div class="col-auto">
									<div
										class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-sm-6 col-12">
					<div class="card shadow border-0">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<span class="h6 font-semibold text-muted text-sm d-block mb-2">Số
										đơn hàng</span> <span th:text="${soDonHang}"
										class="h3 font-bold mb-0 text-md"></span>

								</div>
								<div class="col-auto">
									<div
										class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
										<i class="fa-sharp fa-light fa-credit-card-front"
											style="color: #4581e8;"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="home-tab" data-bs-toggle="tab"
						data-bs-target="#home-tab-pane" type="button" role="tab"
						aria-controls="home-tab-pane" aria-selected="true">Top
						sản phẩm bán</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="profile-tab" data-bs-toggle="tab"
						data-bs-target="#profile-tab-pane" type="button" role="tab"
						aria-controls="profile-tab-pane" aria-selected="false">Doanh
						thu theo loại sản phẩm</button>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home-tab-pane"
					role="tabpanel" aria-labelledby="home-tab" tabindex="0">
					<table class="table table-light">
						<thead>
							<tr>
								<!-- <th scope="col">Mã sản phẩm</th> -->
								<th scope="col">Tên sản phẩm</th>
								<th scope="col">Tổng số lượng đã bán</th>
								<th scope="col">Tổng giá trị sản phẩm</th>
							</tr>
						</thead>
						<tbody>
							<tr  th:each="sanpham : ${sanPhamBanChayNhat}">
<!-- 								<td>{{sanpham.idSp}}</td>
								<td>{{sanpham.tenSp}}</td>
								<td>{{tongSoLuong}}</td>
								<td>{{tongGiaTri}}</td> -->
								<td th:text="${sanpham[0].tenSp}" />
								<td th:text="${sanpham[1]}" />
								 <td th:text="${sanpham[2]}" />
							
							   <!-- <td th:text="{{sanPham[0]}}"></td> -->
							   <!-- <td th:utext="${sanPham[1]}"></td>
							   <td th:utext="${sanPham[2]}"></td> --> 
							</tr>
						</tbody>
					</table>
				</div>

				<div class="tab-pane fade" id="profile-tab-pane" role="tabpanel"
					aria-labelledby="profile-tab" tabindex="0">

					<div class="table-responsive">
						<table class="table table-light">
							<thead>
								<tr>
									
									<th scope="col">Loại Sản Phẩm</th>
									<th scope="col">Tổng Doanh Thu</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="doanhThu : ${doanhThuTheoLoai}">
									<td th:text="${doanhThu[0]}" />
									<td th:text="${doanhThu[1]}" />
									
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</article>
</body>
</html>