<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/layout/admin/layoutAD::dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Quản lý sản phầm</title>
</head>
<body ng-controller="khachhang-ctrl" ng-app="app">
	<div class="alert alert-primary" role="alert">
		<h4 class="card-title">QUẢN LÝ KHÁCH HÀNG</h4>
		<div class="card">
			<form action="" method="POST">
				<div class="card-body">
					<div class="timkiem">
						<input name="keywords" placeholder="Nhập tên khách hàng">
						<button>Tìm kiếm</button>
					</div>
				</div>
			</form>
			<!-- 			<div class="dropdown" style="padding: 20px">
				<button class="btn btn-secondary dropdown-toggle" type="button"
					data-bs-toggle="dropdown" aria-expanded="false">Chọn trạng
					thái lọc</button>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="/quanLyKhachHang/active">Đã
							kích hoạt</a></li>
					<li><a class="dropdown-item" href="/quanLyKhachHang/unactive">
							Chưa kích hoạt</a></li>
				</ul>
			</div>
 -->
			<!-- 			<div class="dropdown" style="padding: 20px">
				<button class="btn btn-secondary dropdown-toggle" type="button"
					data-bs-toggle="dropdown" aria-expanded="false">Chọn loại
					tài khoản lọc</button>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item"
						href="/quanLyKhachHang/adminCustomers">Admin</a></li>
					<li><a class="dropdown-item"
						href="/quanLyKhachHang/unadminCustomers">Khách hàng</a></li>
				</ul>
			</div> -->
			<div class="card-body">
				<!-- tìm kiếm -->
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col"><a href="">Tài khoản</a></th>
								<!-- <th scope="col">password</th> -->
								<th scope="col"><a href="">Tên khách hàng</a></th>
								<th scope="col"><a href="">Email</a></th>
								<th scope="col"><a href="">Trạng thái</a></th>
								<th scope="col">Admin</th>
								<th></th>
							</tr>
						</thead>
						<tr ng-repeat="kh in pager.khachhangs">
							<td>{{kh.taiKhoan}}</td>
							<td>{{kh.hoTen}}</td>
							<td>{{kh.email}}</td>
							<td>{{kh.trangThai}}</td>
							<td>{{kh.admin}}</td>
						</tr>
					</table>
				</div>
				<br>
			</div>
		</div>
		<div class="panel-footer text-center">
			<button ng-click="pager.first()" class="btn btn-danger">
				<b> <<= </b>
			</button>
			<button ng-click="pager.prev()" class="btn btn-primary">
				<b> <= </b>
			</button>
			<button class="btn btn-success">{{pager.page + 1}} of
				{{pager.count}}</button>
			<button ng-click="pager.next()" class="btn btn-primary">
				<b> =></b>
			</button>
			<button ng-click="pager.last()" class="btn btn-danger">
				<b> =>> </b>
			</button>
		</div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
		crossorigin="anonymous">
		
	</script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
		integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
		crossorigin="anonymous">
		
	</script>
	<script th:src="@{/js/adminJS/khachhang.js}"></script>
</body>
</html>
