<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/layout/admin/layoutAD::dynamic(~{::body})}">
<body ng-controller="donhang-ctrl">
	<span class="title">QUẢN LÝ CHI TIẾT ĐƠN HÀNG</span>
	<hr>
	<div class="alert alert-primary" role="alert">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<!-- Thông tin khách hàng -->
					<div class="col-sm-6 col-md-6 col-lg-6">
						<span>Thông tin khách hàng</span>
						<hr>
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Tài khoản</th>
									<td ><input  ng-model="inputTaiKhoan" disabled><td ></td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">Tên khách hàng</th>
									<td ><input  ng-model="inputTaiKhoan" disabled></td>
								</tr>

								<tr>
									<th scope="row">Số điện thoại</th>
									<td ><input  ng-model="inputTaiKhoan" disabled><td ></td>
								</tr>
								<tr>
									<th scope="row">Ngày đặt hàng</th>
									<td ng-model="inputSdt"></td>
								</tr>
								<tr>
									<th scope="row">Email</th>
									<td>phuc@gmail.com</td>
								</tr>
							</tbody>
						</table>

					</div>
					<div class="col-sm-6 col-md-6 col-lg-6">
						<span>Chi tiết hóa đơn</span>
						<hr>
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Mã đơn hàng</th>
									<td ng-model="donhang.idHd"></td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="col">Thành tiền</th>

									<!-- 									<c:set var="totalAmount" value="0" /> -->
									<!-- 									<c:forEach var="hoadon" items="${hoadon.hoadonchitiet}"> -->
									<!-- 										<c:set var="productTotal" value="${hoadon.soLuong * hoadon.gia}" /> -->
									<!-- 										<c:set var="totalAmount" value="${totalAmount + productTotal}" /> -->
									<!-- 									</c:forEach> -->

									<td></td>
									<!-- Hiển thị tổng tổng tiền -->

								</tr>


							</tbody>
						</table>

					</div>
				</div>


			</div>

			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Ảnh SP</th>
								<th scope="col">Tên SP</th>
								<th scope="col">Số lượng</th>
								<th scope="col">Tổng</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td scope="row">1</td>
								<td>
<!-- 								<img -->
<!-- 									th:src="@{|/sanphams/${hoadonchitiet.sanpham.anhSp}|}" alt="" -->
<!-- 									style="width: 40px; height: 40px;" /> -->
									</td>

								<td></td>
								<td></td>

								<td>400.000 VNĐ</td>
							</tr>


						</tbody>

					
					</table>
				</div>

			</div>
		</div>
	</div>
<script th:src="@{/js/adminJS/donhang.js}"></script>
</body>
</html>