<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/layout/admin/layoutAD::dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Quản lý loại sản phẩm</title>
</head>

<body ng-controller="phanloai-ctrl">
<style>
	.error{
		font-size:13px;
		color:red;
	}
</style>
	<div class="alert alert-primary" role="alert">
		<h4 class="card-title">PHÂN LOẠI</h4>
		<div class="card">
			<form action="" method="">
				<div class="card-body">
					<!-- Id loại  -->
					<div class="row">
						<input ng-model="phanloai.idLoai" placeholder="Id" hidden="hidden" />
						<br>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<span>Tên loại</span> <br> <input
								ng-model="phanloai.tenLoai" placeholder="Tên sản phẩm"
								class="form-control form-control-sm" /> <br>
									<span class="error" ng-show="errors.tenLoai">Vui lòng nhập tên loại</span>
						</div>

						<!-- Button -->
						<div class="col-sm-6 col-md-6 col-lg-6">
							<span>Chức năng</span> <br>
							<button ng-click="reset()" id="resetButton"
								class="btn btn-primary btn-sm" formaction="" type="button" role="button">Mới</button>
							<button ng-click="create()" id="createButton"
								class="btn btn-success btn-sm" formaction=""  type="button" role="button">Thêm</button>
							<button ng-click="update()" id="updateButton"
								class="btn btn-warning btn-sm" formaction=""  type="button" role="button">Sửa</button>
						</div>
					</div>
					<!-- tìm kiếm -->
					<hr>
					<input type="text" placeholder="Nhập từ khóa tìm kiếm"
							ng-model="searchTerm" ng-change="filterItems()">

				</div>
			</form>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Id Loại</a></th>
								<th scope="col">Tên loại</a></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="phanloai in pager.phanloais | filter:searchTerm">
								<td scope="row">{{phanloai.idLoai}}</td>
								<td>{{phanloai.tenLoai}}</td>
								<td><a ng-click="edit(phanloai)" id="editButton" href=""
									class="btn btn-success btn-sm">Edit</a> <a
									ng-click="delete(phanloai)" class="btn btn-danger btn-sm"
									id="deleteButton" role="button">Xóa</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel-footer text-center">
				<button ng-click="pager.first()" class="btn btn-danger">
					<b> <<= </b>
				</button>
				<button ng-click="pager.prev()" class="btn btn-primary">
					<b> <= </b>
				</button>
				<button class="btn btn-success">{{pager.page + 1}} of
					{{pager.count}}</button>
				<button ng-click="pager.next()" class="btn btn-primary">
					<b> =></b>
				</button>
				<button ng-click="pager.last()" class="btn btn-danger">
					<b> =>> </b>
				</button>
			</div>
		</div>
	</div>


	<script th:src="@{/js/adminJS/phanloai.js}"></script>
</body>
</html>