<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/layout/admin/layoutAD::dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Quản lý sản phầm</title>
</head>
<body ng-controller="khachhang-ctrl" ng-app="app">
	<div class="alert alert-primary" role="alert">
		<h4 class="card-title">QUẢN LÝ KHÁCH HÀNG</h4>
		<div class="card">
			<form action="" method="POST">
				<div class="card-body">
					<div class="timkiem">
						<input name="keywords" placeholder="Nhập tên khách hàng" ng-model="searchTerm" ng-change="filterItems()">
						<button>Tìm kiếm</button>
					</div>
				</div>
			</form>
			<div class="card-body">
				<!-- tìm kiếm -->
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Tài khoản</th>
								<!-- <th scope="col">password</th> -->
								<th scope="col">Tên khách hàng</th>
								<th scope="col">Email</th>
								<th scope="col">Trạng thái</th>
								<th scope="col">Admin</th>
								<th></th>
							</tr>
						</thead>
						<tr ng-repeat="kh in pager.khachhangs  | filter:searchTerm">
							<td>{{kh.taiKhoan}}</td>
							<td>{{kh.hoTen}}</td>
							<td>{{kh.email}}</td>
							<td>{{kh.trangThai}}</td>
							<td>{{kh.admin}}</td>
						</tr>
					</table>
				</div>
				<br>
			</div>
		</div>
		<div class="panel-footer text-center">
			<button ng-click="pager.first()" class="btn btn-danger">
				<b> <<= </b>
			</button>
			<button ng-click="pager.prev()" class="btn btn-primary">
				<b> <= </b>
			</button>
			<button class="btn btn-success">{{pager.page + 1}} of
				{{pager.count}}</button>
			<button ng-click="pager.next()" class="btn btn-primary">
				<b> =></b>
			</button>
			<button ng-click="pager.last()" class="btn btn-danger">
				<b> =>> </b>
			</button>
		</div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
		crossorigin="anonymous">
		
	</script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
		integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
		crossorigin="anonymous">
		
	</script>
	<script th:src="@{/js/adminJS/khachhang.js}"></script>
</body>
</html>
