<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/layout/admin/layoutAD::dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Quản lý thương hiệu</title>
</head>
<body ng-controller="thuonghieu-ctrl" ng-app="app">
	<div class="alert alert-primary" role="alert">
		<h4 class="card-title">THƯƠNG HIỆU</h4>
		<div class="card">
			<form action="" method="POST">
				<div class="card-body">
					<!-- Id thuong hieu -->
					<div class="row">
						<input path="idTh" placeholder="Id" hidden="hidden" />
						<div class="col-sm-6 col-md-6 col-lg-6">
							<span>Tên thương hiệu</span> <br> <input
								ng-model="form.tenTh" type="text" placeholder="Tên thương hiệu" />
							<br>

						</div>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<span>Chức năng</span> <br>
							<button class="btn btn-primary" ng-click="create()">Thêm</button>
							<button class="btn btn-success" ng-click="update()">Sửa</button>
							<button class="btn btn-danger" ng-click="initialize()">Mới</button>

						</div>
					</div>
					<hr>
					<div class="timkiem">
						<input type="text" placeholder="Tìm kiếm" />
						<button>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
								fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path
									d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
</svg>
							Tìm
						</button>
					</div>
				</div>
			</form>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table" g-hide="$scope.currentPage !== pager.page">
						<thead>
							<tr>
								<th scope="col"><a href="">Id Thương hiệu</a></th>
								<th scope="col"><a href="">Tên Thương hiệu</a></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="th in thuonghieus">
								<td scope="row">{{th.idTh}}</td>
								<td>{{th.tenTh}}</td>
								<td>
								<td><a ng-click="edit(th)" href="">Chọn để sửa</a> <a
									class="btn btn-danger btn-sm" ng-click="delete(th)"
									role="button">Xóa</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="panel-footer text-center">
			<button ng-click="pager.first()" class="btn btn-danger">
				<b> <<= </b>
			</button>
			<button ng-click="pager.prev()" class="btn btn-primary">
				<b> <= </b>
			</button>
			<button class="btn btn-success">{{pager.page + 1}} of
				{{pager.count}}</button>
			<button ng-click="pager.next()" class="btn btn-primary">
				<b> =></b>
			</button>
			<button ng-click="pager.last()" class="btn btn-danger">
				<b> =>> </b>
			</button>
		</div>
	</div>
	<script th:src="@{/js/adminJS/thuonghieu.js}"></script>

</body>
</html>