a<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/layout/admin/layoutAD::dynamic(~{::body})}">

<body th:object="${hoadon}" method="post">
	<span class="title">QUẢN LÝ Chi Tiết ĐƠN HÀNG</span>
	<hr>
	<div class="alert alert-primary" role="alert">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<!-- Thông tin khách hàng -->
					<div class="col-sm-6 col-md-6 col-lg-6">
						<span>Thông tin khách hàng</span>
						<hr>
						<table class="table">
							<thead>
								<tr>

									<th scope="col">Tài khoản</th>
									<th th:text="*{taiKhoan}"></th>

								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">Tên khách hàng</th>
									<td th:text="*{khachhang.hoTen}">Trọng Phúc</td>
								</tr>

								<tr>
									<th scope="row">Số điện thoại</th>
									<td th:text="*{sdt}"></td>
								</tr>
								<tr>
									<th scope="row">Ngày đặt hàng</th>
									<td th:text="*{NgayTao}"></td>
								</tr>
								<tr>
									<th scope="row">Email</th>
									<td th:text=*{khachhang.email}>phuc@gmail.com</td>
								</tr>
							</tbody>
						</table>

					</div>
					<div class="col-sm-6 col-md-6 col-lg-6">
						<span>Chi tiết hóa đơn</span>
						<hr>
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Mã đơn hàng</th>
									<td th:text="*{idHd}"></td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="col">Thành tiền</th>

									<!-- 									<c:set var="totalAmount" value="0" /> -->
									<!-- 									<c:forEach var="hoadon" items="${hoadon.hoadonchitiet}"> -->
									<!-- 										<c:set var="productTotal" value="${hoadon.soLuong * hoadon.gia}" /> -->
									<!-- 										<c:set var="totalAmount" value="${totalAmount + productTotal}" /> -->
									<!-- 									</c:forEach> -->

									<td
										th:text="${#numbers.formatDecimal(hoadon.tongTien, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></td>
									<!-- Hiển thị tổng tổng tiền -->

								</tr>


							</tbody>
						</table>

					</div>
				</div>


			</div>

			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Ảnh SP</th>
								<th scope="col">Tên SP</th>
								<th scope="col">Số lượng</th>
								<th scope="col">Tổng</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="hoadon: *{hoadonchitiet}" >
								<td scope="row" >1</td>
								<td>
<!-- 								<img -->
<!-- 									th:src="@{|/sanphams/${hoadonchitiet.sanpham.anhSp}|}" alt="" -->
<!-- 									style="width: 40px; height: 40px;" /> -->
									</td>

								<td th:text="${hoadonchitiet.sanpham.idSp}" ></td>
								<td th:text="${hoadon.soLuong}"></td>

								<td >400.000 VNĐ</td>
							</tr>


						</tbody>
							<!-- 						<tbody> -->
						<!-- 							<tr th:each="hoadonchitiet : ${hoadonchitiet}" -->
						<!-- 								th:object="${hoadonchitiet}"> -->
						<!-- 								<td scope="row" th:text="${hoadonchitiet.itemIndex}"></td> -->
						<!-- 								<td><img -->
						<!-- 									th:src="@{|/sanphams/${hoadonchitiet.sanpham.anhSp}|}" alt="" -->
						<!-- 									style="width: 40px; height: 40px;" /></td> -->
						<!-- 								<td th:text="${hoadonchitiet.sanpham.idSp}"></td> -->
						<!-- 								<td th:text="${hoadonchitiet.soLuong}"></td> -->
						<!-- 								<td -->
						<!-- 									th:text="${#numbers.formatDecimal(hoadonchitiet.thanhTien, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></td> -->
						<!-- 							</tr> -->
						<!-- 						</tbody> -->
					
					</table>
				</div>

			</div>
		</div>


	</div>


</body>
</html>