<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/layout/admin/layoutAD::dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body ng-controller="donhang-ctrl">
	<span class="title">QUẢN LÝ ĐƠN HÀNG</span>
	<hr>
	<div class="card-body">
		<!-- tìm kiếm -->
		<form action="" modelAttribute="hoadon" method="post">
			<div class="timkiem">
				<input name="keywords" value="">
				<button class="btn btn-success btn-sm" role="button"
					style="width: 100px; margin-top: -5px">Tìm kiếm</button>
			</div>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th scope="col"><a style="text-decoration: none;">ID đơn
									hàng</a></th>
							<th scope="col"><a style="text-decoration: none;">Tài
									khoản</a></th>
							<th scope="col"><a style="text-decoration: none;">Tổng
									tiền</a></th>
							<th scope="col">Trạng thái</th>
							<th scope="col">Xem chi tiết</th>
							<th scope="col">Duyệt</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="donhang in donhangs">
							<td>{{donhang.idHd}}</td>
							<td>{{donhang.khachhang.taiKhoan}}</td>
							<td>{{donhang.tongTien}}</td>
							<td>{{donhang.trangThai}}</td>
							<td>
								<button ng-click="edit(donhang)" name=""
									class="btn btn-success btn-sm" formaction="" role="button"
									style="width: 100px;">
									<a style="text-decoration: none; color: white;"> Xem </a>
								</button>
							</td>
							<td>
								<button name="" class="btn btn-success btn-sm" role="button"
									style="width: 100px;">
									<a style="text-decoration: none; color: white;"> Cập nhật
										hóa đơn </a>
								</button>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</form>
	</div>
</body>
</html>
<!-- Hiển thị tổng tổng tiền -->

</tr>


</tbody>
</table>

</div>
</div>


</div>

<div class="card-body">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Ảnh SP</th>
					<th scope="col">Tên SP</th>
					<th scope="col">Số lượng</th>
					<th scope="col">Tổng</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<c:forEach var="hoadon" items="${hoadon.hoadonchitiet}">

					<tr class="">
						<td scope="row">1</td>
						<td><img src="/sanphams/DL01a1max.jpg"
							style="width: 40px; height: 40px;" /></td>

						<td>Quạt tản nhiệt</td>
						<td>2</td>

						<td>400.000 VNĐ</td>
					</tr>

				</c:forEach>

			</tbody>
		</table>
	</div>

</div>
</div>


</div>

</form>

</body>
</html>