<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/admin/layoutAD::dynamic(~{::body})}">
<body>
	<div class="alert alert-primary" role="alert">
		<h4 class="card-title">QUẢN LÝ SẢN PHẨM</h4>
		<div class="card">
			<div class="card-body">
				<form th:object="${sanpham}" action="" method="POST">
					<div class="row">
						<input th:field="*{idSp}"  placeholder="ID" hidden="hidden"/> <br>
						<!-- Hình ảnh -->

						<div class="col-sm-4 col-md-4 col-lg-4">
							<span>Ảnh sản phẩm</span>
							<div class="card border-default text-center" id="card-img">
								<img
									th:src="@{/sanphams/{anhSp}(anhSp=${sanpham.anhSp})}" alt=""
									style="width: 100%;"/>
							</div>

							<div class="style"></div>
							<input type="file" name="photo_file">

						</div>

						<div class="col-sm-8 col-md-8 col-lg-8">
							<div class="row">
								<!-- Tên sản phẩm -->
								<div class="col-sm-6 col-md-6 col-lg-6">
									<span>Tên sản phẩm</span> <br> <input th:field="*{tenSp}"
										placeholder="Tên sản phẩm"
										class="form-control form-control-sm" /> <br>
								</div>
								<!-- Giá sản phẩm -->
								<div class="col-sm-6 col-md-6 col-lg-6">
									<span>Giá</span> <br> <input type="number" th:field="*{giaSp}"
										 placeholder="Giá sản phẩm"
										class="form-control form-control-sm" /> <br>

								</div>
								<!-- Loại sản phẩm-->
								<div class="col-sm-6 col-md-6 col-lg-6">
									<div class="mb-3">
										<span>Loại</span>
										<select class="form-select form-select-sm"
											id="loaiSanPham">
											<option>Loại 1</option>
											<option>Loại 2</option>
											<option>Loại 3</option>
											<option>Loại 4</option>
											<option>Loại 5</option>
										</select>
									</div>
								</div>
								<!-- Nhập số lượng -->
								<div class="col-sm-6 col-md-6 col-lg-6">
									<span>Số lượng</span> <br> <input type="number" th:field="*{soLuong}"
										 placeholder="Số lượng(>=1)"
										class="form-control form-control-sm" /> <br>
									<!--  Chọn thương hiệu -->
								</div>
								<div class="row">
									<div class="col-sm-6 col-md-6 col-lg-6">
										<div class="mb-3">
											<span>Thương hiệu</span> <select
												class="form-select form-select-sm" name="thuonghieu"
												id="thuongHieu">
												<option>Thương hiệu 1</option>
												<option>Thương hiệu 2</option>
												<option>Thương hiệu 3</option>
												<option>Thương hiệu 4</option>
												<option>Thương hiệu 5</option>
											</select>
										</div>
									</div>
									<!-- Bảo hành -->

									<div class="col-sm-6 col-md-6 col-lg-6">
										<span>Bảo hành</span> <br> Có bảo hành <input th:field="*{baoHanh}"
									 type="radio" name="radio" value="true">
										&nbsp&nbsp Không bảo hành <input th:field="*{baoHanh}"
											type="radio" name="radio" value="false"> <br>
									</div>
								</div>
								<!-- Mô tả sản phẩm -->
								<div class="col-sm-12 col-md-12 col-lg-12">
									<span>Mô tả</span>
									<textarea th:field="*{moTa}"
										class="form-control form-control-sm"></textarea>
									<br>
								</div>
								<!-- Button -->
								<div class="col-sm-12 col-md-12 col-lg-12 text-center">
									<button class="btn btn-primary btn-sm" formaction="#"
										role="button">Mới</button>
									<button id="createButton" class="btn btn-success btn-sm"
										formaction="#" role="button">Thêm</button>
									<button id="editButton" class="btn btn-warning btn-sm"
										formaction="#" role="button">Sửa</button>
								</div>
							</div>
						</div>
					</div>
					<!-- tìm kiếm -->
					<div class="timkiem">
						<input name="keywords" value="">
						<button>Tìm kiếm</button>
					</div>
				</form>

			</div>

			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Id SP</th>
								<th scope="col">Tên SP</th>
								<th scope="col">Giá</th>
								<th scope="col">Hình ảnh</th>
								<th scope="col">Số lượng</th>
								<th scope="col">Loại</th>
								<th scope="col">Bảo Hành</th>
								<th scope="col">Thương hiệu</th>
								<th scope="col">Mô tả</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="sanpham : ${sanphams}">
								<td th:text="${sanpham.idSp}"></td>
								<td th:text="${sanpham.tenSp}"></td>
								<td th:text="${sanpham.giaSp}"></td>
								<td><img
									th:src="@{/sanphams/{anhSp}(anhSp=${sanpham.anhSp})}" alt=""
									style="width: 40px; height: 40px;" /></td>
								<td th:text="${sanpham.soLuong}"></td>
								<td th:text="${sanpham.loaisanpham.tenLoai}"></td>
								<td>
									<div th:if="${sanpham.baoHanh}">Có bảo hành</div>
									<div th:unless="${sanpham.baoHanh}">Không bảo hành</div>
								</td>
								<td th:text="${sanpham.thuonghieu.tenTh}"></td>

								<td>
								 <a
									th:href="@{/quanLySanPham/edit/{idSp}(idSp=${sanpham.idSp})}"
									class="btn btn-success btn-sm">Edit</a>
								 <a
									class="btn btn-danger btn-sm"
									href="/quanLySanPham/delete/${sanPham.idSp}" role="button">Xóa</a>
								</td>
							</tr>
						</tbody>
					</table>
					<!-- 				<c:forEach var="i" begin="0" -->
					<!-- 					end="${page.totalPages - 1 < 0 ? 0 : page.totalPages - 1}"> -->
					<!-- 					<a href="/quanLySanPham/form?keyword=${keywords}&p=${i}">${i + 1}</a> -->
					<!-- 				</c:forEach> -->
				</div>
			</div>

		</div>
	</div>
</body>
</html>