<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Product List</title>
</head>
<body>
	<h1>Product List</h1>
	<table>
		<thead>
			<tr>
				<th>ID SP</th>
				<th>Tên sản phẩm</th>
				<th>Giá sản phẩm</th>
				<th>Hình ảnh</th>
				<th>Số lượng</th>
				<th>Loại</th>
				<th>Bảo hành</th>
				<th>Thương hiệu</th>
				<th>Mô tả</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="sanpham : ${sanphams}">
				<td th:text="${sanpham.idSp}"></td>
				<td th:text="${sanpham.tenSp}"></td>
				<td th:text="${sanpham.giaSp}"></td>
				<td th:src="@{/images/${sanpham.anhSp}}"></td>
			</tr>
		</tbody>
	</table>

	<form method="post" th:action="@{/students}">
		<label for="email">Email:</label> <input type="text" id="email"
			name="email" required> <label for="fullname">Fullname:</label>
		<input type="text" id="fullname" name="fullname" required> <label
			for="marks">Mark:</label> <input type="number" id="marks"
			name="marks" required> <label for="gender">Man:</label> <input
			type="radio" id="gender" name="gender" required>
		<button type="submit">Create</button>
	</form>
</body>
</html>