<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/layout/user/layout::dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Đặt hàng</title>
</head>
<body ng-controller="cart-ctrl" ng-app="app">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="card">
					<div class="card-header">
						<div class="card-title">
							<h5>CHI TIẾT ĐƠN HÀNG</h5>
						</div>
					</div>
					<div class="card-body">
						<form >
							<div class="mb-3">
								<label for="name" ng-model="order.name" class="form-label">Họ
									Tên</label> <input type="text" class="form-control" id="name"
									placeholder="Nhập họ tên">
							</div>
							<div class="mb-3">
								<label for="phone" class="form-label" ng-model="hoadon.sdt">Số
									Điện Thoại:</label> <input type="text" class="form-control" id="phone"
									placeholder="Nhập số điện thoại">
							</div>
							<div class="mb-3">
								<label for="Address" class="form-label" ng-model="hoadon.diaChi">Địa
									Chỉ</label> <input type="text" class="form-control" id="Address"
									placeholder="Nhập địa chỉ">
							</div>
							<div class="mb-3">
								<label for="email" class="form-label" ng-model="order.email">Email</label>
								<input type="text" class="form-control" id="email"
									placeholder="Nhập email">
							</div>
							<div class="mb-3">
								<label for="note" class="form-label">Ghi chú</label>
								<textarea name="note" id="note" cols="80" rows="3"></textarea>
							</div>
							<button type="submit" ng-click="order.purchase()">Đặt hàng</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card-body">
					<div class="card">
						<div class="card-header">
							<div class="card-title">
								<h5>ĐƠN HÀNG CỦA BẠN</h5>
							</div>
						</div>
						<div class="card-body">
							<form action="">
								<table class="table">
									<thead>
										<tr>
											<th>SẢN PHẨM</th>
											<td>SỐ LƯỢNG</td>
											<th>TỔNG TIỀN</th>
										</tr>
									</thead>
									<tbody ng-repeat="item in cart.items">
										<tr>
											<td>{{item.tenSp}}</td>
											<td><input readonly="readonly" ng-model="item.soLuong" /></td>
											<td>{{cart.amt_of(item) | number : 2}}</td>
										</tr>
									</tbody>
									<tr>
										<th>
										<th>TỔNG TIỀN</th>
										<th>{{ totalAmount() | number : 2 }}</th>
									</tr>
								</table>
								<button class="btn btn-outline-light bg-warning"
									style="float: right;">Đặt hàng</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>