<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/layout/user/layout::dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Đặt hàng</title>
</head>
<body ng-controller="giohang-ctrl" ng-app="app">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="card">
					<div class="card-header">
						<div class="card-title">
							<h5>CHI TIẾT ĐƠN HÀNG</h5>
						</div>
					</div>
					<div class="card-body">
						<form>
							<div class="mb-3">
								<label for="name" class="form-label">Tài khoản</label> <input
									type="text" name="taiKhoan" class="form-control"
									placeholder="Lấy từ tài khoản đang đăng nhập " id="inputHoTen" ng-value="taiKhoan">
								<!-- <label
									for="name" class="form-label">Tài khoản</label> <input
									type="text" name="taiKhoan" class="form-control"
									ng-model="taiKhoanValue" readonly> -->
							</div>

							<div class="mb-3">
								<label for="phone" class="form-label">Số Điện Thoại:</label> <input
									type="text" class="form-control" id="sdt"
									placeholder="Nhập số điện thoại" ng-model="order.sdt">
							</div>
							<div class="mb-3">
								<label for="Address" class="form-label">Địa Chỉ</label> <input
									ng-model="order.diaChi" type="text" class="form-control"
									id="diaChi" placeholder="Nhập địa chỉ">
							</div>
							<div class="mb-3">
								<input ng-model="order.trangThai" type="text"
									class="form-control" hidden="">
							</div>
							<div class="mb-3">
								<label for="note" class="form-label">Ghi chú</label>
								<textarea ng-model="order.ghiChu" name="note" id="note"
									cols="80" rows="3"></textarea>
							</div>


						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card-body">
					<div class="card">
						<div class="card-header">
							<div class="card-title">
								<h5>ĐƠN HÀNG CỦA BẠN</h5>
							</div>
						</div>
						<div class="card-body">
							<form>
								<table class="table">
									<thead>
										<tr>
											<th>SẢN PHẨM</th>
											<td>SỐ LƯỢNG</td>
											<th>TỔNG TIỀN</th>
										</tr>
									</thead>
									<tbody ng-repeat="item in cart.items">
										<tr>
											<td>{{item.tenSp}}</td>
											<td><input readonly="readonly" ng-model="item.soLuong" /></td>
											<td>{{ cart.amt_of(item).toLocaleString('vi-VN') }}₫</td>
										</tr>
									</tbody>
									<tr>
										<th></th>
										<th>TỔNG TIỀN</th>
										<th>{{ totalAmount().toLocaleString('vi-VN') }}₫</th>
									</tr>
								</table>
								<div class="mb-3">
									<button class="btn btn-outline-light btn-danger"
										style="float: right;" ng-click="order.purchase()">Đặt
										hàng</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <script>
		// Lấy giá trị tài khoản từ HttpSession và gán vào ô input
		var taiKhoan = "${taiKhoan}";
		document.getElementById("inputHoTen").value = taiKhoan;
	</script> -->
	<script th:src="@{/js/adminJS/giohang.js}"></script>
</body>
</html>