<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/layout/user/layout::dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Giỏ hàng</title>
</head>
<body>
<div class="container">
	<div class="card">
		<div class="card-header">
			<h5 class="card-title">Giỏ hàng</h5>
		</div>
		<div ng-if="!cart.items.length" class="card-body text-center">
			<h3 class="card-text" style="font-variant: small-caps;">Không có sản phẩm nào!</h3>
		</div>
		<table ng-if="cart.items.length" class="table">
			<thead>
				<tr>
					<th>Mã sản phẩm</th>
					<th>Tên Sản Phẩm</th>
					<th>Giá</th>
					<th>Số Lượng</th>
					<th>Thành tiền</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in cart.items">
					<td>{{item.idSp}}</td>
					<td>{{item.tenSp}}</td>
					<td>${{item.giaSp | number : 2}}</td>
					<td>
						<input ng-change="cart.saveToLocalStorage()" ng-model="item.soLuong" type="number" min="1" style="width:60px;" class="form-control" />
					</td>
					<td>${{cart.amt_of(item) | number : 2}}</td>
					<td>
						<button ng-click="cart.remove(item.id)" class="btn btn-sm btn-danger">
							Xóa
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		<div ng-if="cart.items.length" class="card-footer">
			<button ng-click="cart.clear()" class="btn btn-danger">
				Dọn
			</button>
			<a th:href="@{/order/checkout}" class="btn btn-primary">
				Thanh toán
			</a>
		</div>
	</div>
</div>
</body>
</html>