<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="~{/layout/user/layout::dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Giỏ hàng</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="card">
					<div class="card-body">
						<table class="table">
							<tr>
								<th></th>
								<th>SẢN PHẨM</th>
								<th>GIÁ</th>
								<th>SỐ LƯỢNG</th>
								<th>TỔNG TIỀN</th>
								<th></th>
							</tr>
							<tr>
								<td><img src="img/hinh1.jpg" alt="" width="50px"></td>
								<td>CABALLO</td>
								<td>50</td>
								<td>2</td>
								<td>100</td>
								<td><a href="">Xóa</a></td>
							</tr>
							<tr>
								<td><img src="img/hinh2.png" alt="" width="50px"></td>
								<td>OXVA</td>
								<td>50</td>
								<td>1</td>
								<td>50</td>
								<td><a href="">Xóa</a></td>
							</tr>
						</table>
						<button class="btn btn-outline-light bg-secondary"
							style="float: right;">Cập nhật giỏ hàng</button>
						<button class="btn btn-outline-light bg-secondary"
							style="float: right;">Tiếp tục xem sản phẩm</button>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card">
					<div class="card-body">
						<table class="table">
							<tr>
								<th>TỔNG SẢN PHẨM</th>
								<th></th>
							</tr>
							<tr>
								<td>Tổng tiền</td>
								<th>150</th>
							</tr>
						</table>
						<a class="btn btn-outline-light bg-warning" style="float: right;"
							href="dathang.html">Tiếp tục</a>
					</div>
				</div>
				<br> <a class="btn btn-outline-light bg-warning"
					style="float: right;" href="lichsu.html">Lịch sử mua hàng</a>
			</div>
		</div>
	</div>
</body>
</html>