<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/layout/user/layout::dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Giỏ hàng</title>
</head>
<body>
	<div class="panel panel-primary" th:fragment="cart_frag">
		<div class="panel-heading">SHOPPING CART</div>
		<div ng-if="!cart.items.length" class="panel-body text-center">
			<h3 style="font-variant: small-caps;">No items in your shopping
				cart</h3>
		</div>
		<table ng-if="cart.items.length" class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Tên Sản Phẩm</th>
					<th>Giá</th>
					<th>Số Lượng</th>
					<th>Amount</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in cart.items">
					<td>{{item.idSp}}</td>
					<td>{{item.tenSp}}</td>
					<td>${{item.giaSp | number : 2}}</td>
					<td><input ng-change="cart.saveToLocalStorage()"
						ng-model="item.soLuong" type="number" min="1" style="width: 60px;" /></td>
					<td>${{cart.amt_of(item) | number : 2}}</td>
					<td>
						<button ng-click="cart.remove(item.id)"
							class="btn btn-sm btn-danger">
							<i class="glyphicon glyphicon-trash"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		<div ng-if="cart.items.length" class="panel-footer">
			<button ng-click="cart.clear()" class="btn btn-danger">
				<i class="glyphicon glyphicon-trash"></i> Clear
			</button>
			<a th:href="@{/order/checkout}" class="btn btn-primary"> <i
				class="glyphicon glyphicon-hand-right"></i> Checkout
			</a>
		</div>
	</div>
</body>
</html>