<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="~{/layout/user/layout::dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Trang chủ</title>
</head>
<body>
	<article>
	<div id="sp">
		<div class="headline">
			<h4>Quạt tản nhiệt</h4>
		</div>
		<div class="container">
				<div id="sanphambanchay">Tai nghe bluetooth</div>
				<div id="hinhbanner">
					<img src="/img/banner1.jpg" alt="">
				</div>
			</div>
		<ul class="products">
<!-- 			<c:forEach var="item" items="${items}"> -->
				<li>
					<div class="product-item">
						<div class="product-top">
							<a href="#" class="product-thumb"> 
								<img src="/sanphams/DL01a1max.jpg" alt="">
							</a>
							<!--Mua ngay-->
							<a th:href="@{/index/giohang}" class="buy-now">Thêm vào giỏ hàng</a>
						</div>
						<div class="product-info">
							<a th:href="@{/index/chitietsanpham}" class="product-cat">Sản phẩm 1</a> 
							<a href="" class="product-name">Dioer shop</a> 
								<a href="" class="product-price">125.000VNĐ</a>
						</div>
					</div>
				</li>
				<li>
					<div class="product-item">
						<div class="product-top">
							<a href="#" class="product-thumb"> 
								<img src="/sanphams/DL01a1max.jpg" alt="">
							</a>
							<!--Mua ngay-->
							<a th:href="@{/index/giohang}" class="buy-now">Thêm vào giỏ hàng</a>
						</div>
						<div class="product-info">
							<a href="@{/index/chitietsanpham}" class="product-cat">Sản phẩm 2</a> 
							<a href="" class="product-name">Dioer sho</a> 
								<a href="" class="product-price">125.000VNĐ</a>
						</div>
					</div>
				</li>
				
				<li>
					<div class="product-item">
						<div class="product-top">
							<a href="#" class="product-thumb"> 
								<img src="/sanphams/DL01a1max.jpg" alt="">
							</a>
							<!--Mua ngay-->
							<a th:href="@{/index/giohang}" class="buy-now">Thêm vào giỏ hàng</a>
						</div>
						<div class="product-info">
							<a href="@{/index/chitietsanpham}" class="product-cat">Sản phẩm 3</a> 
							<a href="" class="product-name">Dioer sho</a> 
								<a href="" class="product-price">125.000VNĐ</a>
						</div>
					</div>
				</li>
				<li>
					<div class="product-item">
						<div class="product-top">
							<a href="#" class="product-thumb"> 
								<img src="/sanphams/DL01a1max.jpg" alt="">
							</a>
							<!--Mua ngay-->
							<a th:href="@{/index/giohang}" class="buy-now">Thêm vào giỏ hàng</a>
						</div>
						<div class="product-info">
							<a href="@{/index/chitietsanpham}" class="product-cat">Sản phẩm 4</a> 
							<a href="" class="product-name">Dioer sho</a> 
								<a href="" class="product-price">125.000VNĐ</a>
						</div>
					</div>
				</li>
				
				<li>
					<div class="product-item">
						<div class="product-top">
							<a href="#" class="product-thumb"> 
								<img src="/sanphams/DL01a1max.jpg" alt="">
							</a>
							<!--Mua ngay-->
							<a th:href="@{/index/giohang}" class="buy-now">Thêm vào giỏ hàng</a>
						</div>
						<div class="product-info">
							<a href="@{/index/chitietsanpham}" class="product-cat">Sản phẩm 5</a> 
							<a href="" class="product-name">Dioer sho</a> 
								<a href="" class="product-price">125.000VNĐ</a>
						</div>
					</div>
				</li>
				<li>
					<div class="product-item">
						<div class="product-top">
							<a href="#" class="product-thumb"> 
								<img src="/sanphams/DL01a1max.jpg" alt="">
							</a>
							<!--Mua ngay-->
							<a th:href="@{/index/giohang}" class="buy-now">Thêm vào giỏ hàng</a>
						</div>
						<div class="product-info">
							<a href="@{/index/chitietsanpham}" class="product-cat">Sản phẩm 6</a> 
							<a href="" class="product-name">Dioer sho</a> 
								<a href="" class="product-price">125.000VNĐ</a>
						</div>
					</div>
				</li>
				
				<li>
					<div class="product-item">
						<div class="product-top">
							<a href="#" class="product-thumb"> 
								<img src="/sanphams/DL01a1max.jpg" alt="">
							</a>
							<!--Mua ngay-->
							<a th:href="@{/index/giohang}" class="buy-now">Thêm vào giỏ hàng</a>
						</div>
						<div class="product-info">
							<a href="@{/index/chitietsanpham}" class="product-cat">Sản phẩm 7</a> 
							<a href="" class="product-name">Dioer sho</a> 
								<a href="" class="product-price">125.000VNĐ</a>
						</div>
					</div>
				</li>
				<li>
					<div class="product-item">
						<div class="product-top">
							<a href="#" class="product-thumb"> 
								<img src="/sanphams/DL01a1max.jpg" alt="">
							</a>
							<!--Mua ngay-->
							<a th:href="@{/index/giohang}" class="buy-now">Thêm vào giỏ hàng</a>
						</div>
						<div class="product-info">
							<a href="@{/index/chitietsanpham}" class="product-cat">Sản phẩm 8</a> 
							<a href="" class="product-name">Dioer sho</a> 
								<a href="" class="product-price">125.000VNĐ</a>
						</div>
					</div>
				</li>
<!-- 			</c:forEach> -->



			

		</ul>
	</div>

</article>
</body>
</html>