<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/layout/user/layout::dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
	<article ng-controller="lichsu-ctrl">
		<div class="container" style="padding-bottom: 200px">
			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th>Tài khoản</th>
							<th>Số điện thoại</th>
							<th>Địa chỉ</th>
							<th>Tổng tiền</th>
							<th>Trạng thái</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="hoadon in listHoaDon">
							<td >{{hoadon.taiKhoan}}</td>
							<td>{{hoadon.sdt}}</td>
							<td>{{hoadon.diaChi}}</td>
							<td>{{hoadon.tongTien.toLocaleString('vi-VN') }}₫</td>
							<td>{{hoadon.trangThai}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
	</article>
	
	<script th:src="@{/js/adminJS/lichsu.js}"></script>
</body>
</html>