<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/layout/user/layout::dynamic(~{::body})}"> 
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 <section class="vh-100">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <!--Form Dang ki -->
            <div class="col-md-8 col-lg-6 col-xl-4 ">
              <form  th:action="@{/index/XacNhan}" method="post">        
                <div class="divider d-flex align-items-center my-4">
                  <p class="text-center fw-bold mx-3 mb-0">Nhập mã xác nhận</p>
                </div>
                <div class="col-sm-12">
                  <div class="input-group mb-2">
                      <input type="text" class="form-control"  name="code"  placeholder="Mã xác nhận" style="height: 45px;"
                           required>                   
                  </div>
                  <i class="pull-left text-danger" th:text="${errorMessage}"></i>           
               </div>     
                <div class="text-center  mt-2 pt-2">
                  <button type="submit" class="btn btn-primary btn-lg" style="width: 472px;">Xác nhận</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
</body>
</html>