<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="~{/layout/user/layout::dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<article>
	<div id="sp">
			<ul class="products">
				<li th:each="sp : ${items}">
					<div class="product-item">
						<div class="product-top">
							<a th:href="@{/index/chitietsanpham}" class="product-thumb">
								<img th:src="@{/sanphams/{anhSp}(anhSp=${sp.anhSp})}" alt="" />
							</a> 
							<a th:href="@{/index/giohang}" class="buy-now">Thêm vào giỏ hàng</a>
						</div>
						<div class="product-info">
							<a href="#" class="product-cat" th:text="${sp.loaisanpham.tenLoai}"></a>
							<a href="#" class="product-name" th:text="${sp.tenSp}"></a>
							<a href="#" class="product-price" th:text="${sp.giaSp} + 'VNĐ'"></a>
						</div>
					</div>
				</li>
			</ul>
	</div>
</article>
</body>
</html>