<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<body>
	<div id="wrapper" style="padding-bottom: 30px; width:100%;" th:fragment="navbar">
		<div id="header">
			<nav class="container">
				<a th:href="@{/index/form}" id="logo"> <img src="/img/logo.png" alt=""></a>
				<ul id="main-menu">
					<li><a th:href="@{/index/form}"><i
							class="fa-solid fa-house fa-bounce"></i>Trang chủ</a></li>
					<li><a th:href="@{/index/sanpham}"><i class="fa-solid fa-list-ul"></i>Sản
							phẩm</a>
						<ul class="sub-menu">
<!-- 							<c:forEach var="item" items="${loaisanphams}"> -->
								<li><a href="#">Sản phẩm 1</a></li>
								<li><a href="#">Sản phẩm 2</a></li>
								<li><a href="#">Sản phẩm 3</a></li>
<!-- 							</c:forEach> -->
						</ul></li>

					<li><a th:href="@{/index/giohang}"><i
							class="fa-solid fa-cart-shopping"></i>Giỏ hàng</a></li>
					<!--Vinh sua  -->
					<li><a href=""><i class="fas fa-user-circle"></i>Tài khoản</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</body>
</html>